/* .Logo {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    margin-left: 8%;
}
.AboutContact {
    color: green;
    font-size: 20px;
    text-align: right;
    margin-right: 12%;
} */


@media (min-width: 200px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
    }
}
@media (min-width: 600px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 1000px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
@media (min-width: 1500px) {
    .wrapping {
        width: 80%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 33% 33% 33%;
    }
}

.main_picture {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.slogan {
    margin:5% auto;
    width: 80%;
    font-size: 50px;
    color: #1750A2;
    text-align: center;
}
.slogan2 {
    margin: 5% auto;
    width: 80%;
    font-size: 40px;
    color: #1750A2;
    text-align: left;
}
@media (max-width: 1500px) {
    .slogan {
      font-size: 50px;
    }
}
@media (max-width: 1000px) {
    .slogan {
      font-size: 40px;
    }
}
@media (max-width: 600px) {
    .slogan {
      font-size: 30px;
    }
}
@media (max-width: 200px) {
    .slogan {
      font-size: 20px;
    }
}
.textArea {
    font-size: 2em;
    margin-top: 1.25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexContainer {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid #c90813;
    margin: 5%;
    background-image: linear-gradient(90deg, red -50%, white 14%);
    padding: 5%;
    list-style: none;
    box-shadow: 0 0.625rem 0.75rem #3e3e3e;
}