.wrapper-right {
    width: 320px;
    float: left;
    margin: 0 0 0 10px;
}
.right-news {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/news-icon.png", sizingMethod="crop");
}
.wrapper-left {
    width: 610px;
    float: left;
}
.textArea {
    font-size: 2em;
    margin-top: 1.25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slogan {
    margin: 5% auto;
    width: 100%;
    font-size: 3.75em;
    
    color: #1750A2;
    text-align: center;
}
.background {
    background: linear-gradient(to bottom,#000000,#303030 70%);
}
.main_picture {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.flexContainer {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid #c90813;
    margin: 5%;
    background-image: linear-gradient(90deg, red -50%, white 14%);
    padding: 5%;
    list-style: none;
    box-shadow: 0 0.625rem 0.75rem #3e3e3e;
}
.dropbtn {
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content_a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
