.body{
    background-color: beige;
}
.headpic{
    width: 100%;
    
}

.h1{
    font-size: 200px;
   
}

.herostr{
    font-size: 100px;
}

.heroagi{
    font-size: 100px;
}

.heroint{
    font-size: 100px;
}

.heroIcon{
width: 100px;
height: 80px;

}